<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/feedback.css" />
    <title>Feedback</title>
  </head>
  <body>
    <div class="container my-5">
      <h1 class="text-center mb-4">We Value Your Feedback</h1>

      <div class="alert alert-success d-none" id="feedbackAlert">
        Feedback submitted successfully!
      </div>

      <form id="feedbackForm" method="POST" action="/feedback">
        <div class="form-group">
          <label for="feedback">Your Feedback:</label>
          <textarea
            id="feedback"
            name="feedback"
            class="form-control"
            rows="4"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <h2 class="mt-5">Feedbacks</h2>
      <div id="feedbackList">
        <% feedbacks.forEach(feedback => { %>
        <div class="card my-3">
          <div class="card-body">
            <p class="card-text"><%= feedback.feedback %></p>
            <small class="text-muted"
              >Submitted on <%= feedback.date.toDateString() %></small
            >
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/feedback.js"></script>
  </body>
</html>
