<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maize Management Techniques</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/cropDetails.css" />
  </head>
  <body>
    <header>
      <h1>Maize Management Techniques</h1>
    </header>
    <main>
      <p><strong>Botanical Name:</strong> Zea mays</p>
      <p><strong>Family:</strong> Poaceae</p>
      <p><strong>Order:</strong> Poales</p>
      <p><strong>Class:</strong> Liliopsida</p>
      <p><strong>Division:</strong> Magnoliophyta</p>
      <p><strong>Chromosome Number:</strong> 20</p>
      <p><strong>Season:</strong> Kharif (summer)</p>
      <p><strong>Planting Date:</strong> June-July</p>
      <p><strong>Harvest Date:</strong> September-October</p>
      <p>
        <strong>Best Practices:</strong> Timely sowing, weed management,
        balanced fertilization
      </p>
      <p>
        <strong>Soil Preparation:</strong> Deep plowing, apply organic manure
      </p>
      <p>
        <strong>Irrigation:</strong> Adequate water supply during growth stages
      </p>
      <p>
        <strong>Fertilizers:</strong> NPK, micro-nutrients; Split nitrogen
        applications
      </p>
      <p>
        <strong>Pest Control:</strong> Use pest-resistant varieties, biological
        control
      </p>
      <p><strong>Common Diseases:</strong> Blight, Rust, Smut</p>
      <p>
        <strong>Disease Symptoms:</strong> Yellowing and blighting of leaves,
        fungal growth
      </p>
      <p>
        <strong>Disease Management:</strong> Apply fungicides, crop rotation
      </p>
      <p><strong>Climate Temperature:</strong> 25-30°C</p>
      <p><strong>Market Value:</strong> Monitor market prices</p>
      <p><strong>Storage:</strong> Cool, dry storage</p>
      <p><strong>Usage:</strong> Animal feed, Corn flour, Corn syrup</p>
    </main>
    <footer>
      <p>&copy; 2024 Farmer's Companion</p>
    </footer>
  </body>
</html>
