<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sugarcane Management</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/cropDetails.css" />
  </head>
  <body>
    <header>
      <h1>Sugarcane Management Techniques</h1>
    </header>
    <main>
      <p><strong>Botanical Name:</strong> Saccharum officinarum</p>
      <p><strong>Family:</strong> Poaceae</p>
      <p><strong>Order:</strong> Poales</p>
      <p><strong>Class:</strong> Liliopsida</p>
      <p><strong>Division:</strong> Magnoliophyta</p>
      <p><strong>Chromosome Number:</strong> 80</p>
      <p><strong>Season:</strong> Perennial</p>
      <p><strong>Planting Date:</strong> February-March</p>
      <p><strong>Harvest Date:</strong> November-December</p>
      <p>
        <strong>Best Practices:</strong> Seed selection, weed management,
        irrigation scheduling
      </p>
      <p><strong>Soil Preparation:</strong> Deep tillage, apply compost</p>
      <p><strong>Irrigation:</strong> Regular irrigation, avoid water stress</p>
      <p>
        <strong>Fertilizers:</strong> NPK, micronutrients; Timely application
      </p>
      <p>
        <strong>Pest Control:</strong> Use resistant varieties, integrated pest
        management
      </p>
      <p><strong>Common Diseases:</strong> Red rot, Smut, Wilt</p>
      <p>
        <strong>Disease Symptoms:</strong> Red streaks in stem, black fungal
        growth
      </p>
      <p>
        <strong>Disease Management:</strong> Resistant varieties, fungicide
        application
      </p>
      <p><strong>Climate Temperature:</strong> 30-35°C</p>
      <p><strong>Market Value:</strong> Monitor sugar market trends</p>
      <p><strong>Storage:</strong> Cool storage, avoid moisture</p>
      <p><strong>Usage:</strong> Sugar production, Ethanol, Biofuel</p>
    </main>
    <footer>
      <p>&copy; 2024 Farmer's Companion</p>
    </footer>
  </body>
</html>
