/* Crop Disease Management Page */
body {
  background: url("/images/diseaseManagementImg.jpg") no-repeat center center
    fixed;
  background-size: cover;
  color: #333;
}

.container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #2c3e50;
}

.card {
  border: none;
  border-radius: 8px;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.card:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.card-text {
  font-size: 16px;
  color: #666;
}

.btn-primary {
  background-color: #28a745;
  border: none;
}

.btn-primary:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 14px;
  }
}
